
.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(32, 32, 36);
}

.navbarContainer img {
    position: relative;
    max-width: 60px;
    border-radius: 2rem;
    margin-inline-end: 1rem;
    cursor: pointer;
}

.navbarContainer ul {
    position: relative;
    display: flex;
    margin-left: 5rem;
}

.navbarContainer ul  {
    list-style: none;
}

.navbarContainer  a {
    display:inline-block;
    color: rgb(115, 115, 128);
    font-weight: 500;
    margin-left: 70px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.navbarContainer a:hover {
    color: rgb(211, 206, 206);
}


.buttonLogin a {
    padding: 8px 32px;
    background: #5583a3;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}





.wrap div {
    width: 80%;
    position: relative;
    display: flex;
    left: 32%;
}

.wrap input {
    width: 80%;
    background: rgb(18, 18, 20);
    border: 3px solid rgb(41, 41, 46);
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 4px 0 0 4px;
    outline: none;
    color: rgb(255, 255, 255);
}

.wrap input:focus{
    color: rgb(255, 255, 255);
  }

.wrap button {
    width: 40px;
    height: 36px;
    border: 4px solid rgb(41, 41, 46);
    background: rgb(18, 18, 20);
    text-align: center;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap button img {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6px;
}