.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

.container section {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
}

.companies div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies div img {
    max-width: 80%;
}


